* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  min-height: 100vh;
  background-color: skyblue;
  padding-bottom: 50px;
}

.Todo-box {
  margin-top: 80px;
  min-width: 50vw;
  border: solid;
  min-height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  padding-bottom: 20px;

}

.input-box {
  margin-top: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.input-box h1 {
  color: lightgray;
  font-family: 'Indie Flower', cursive;
}

.input-box>input {
  margin-top: 30px;
  font-size: 1.5rem;
  width: 35vw;
  height: 5vh;
}

.input-box ::placeholder {
  font-size: 1rem;
}

.input-box>input:focus {
  outline: none;
  border-color: blueviolet;
}

.input-box>button:active {
  padding: 4px;
}

.input-box>button {
  margin-top: 30px;
  padding: 6px;
  border-radius: 2px;
  font-size: 1.3rem;
  background-color: green;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}

.todo-list-box {
  margin-top: 40px;
}

.todo-list-box ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: -11px;
  font-size: 1.3rem;
  width: 35vw;
  height: 6vh;
  border: solid;
  padding-left: 6px;
  border: 1px solid green;
  background-color: yellow;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  transition: .7s;
}

.todo-list-box ul li:hover {
  transform: scale(1.1);
}

.fa-solid {
  padding-right: 6px;
  cursor: pointer;
  transition: 0.1s;
}

.fa-solid:hover {
  transform: scale(1.2);
  color: red;
}

.btn-clear {
  height: 6vh;
  min-width: 15%;
  margin-top: 3%;
  background-color: red;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.btn-clear:active {
  min-width: 14.6%;
  transition: .5s;
}